In [ ]:
!pip3 install geojson
!pip3 install osmnx
!pip3 install shapely.constructive
import pandas as pd
import numpy as np
import csv
import plotly.express as px
import geopandas as gpd
import json
import requests
# import ipython-sql
# import regex as re
%matplotlib inline
from shapely.geometry import Point
from geopandas import datasets, GeoDataFrame, read_file

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting geojson
  Downloading geojson-2.5.0-py2.py3-none-any.whl (14 kB)
Installing collected packages: geojson
Successfully installed geojson-2.5.0
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting osmnx
  Downloading osmnx-1.1.2-py2.py3-none-any.whl (95 kB)
     |████████████████████████████████| 95 kB 2.0 MB/s
Requirement already satisfied: Shapely<2.0,>=1.7 in /usr/local/lib/python3.7/dist-packages (from osmnx) (1.8.2)
Collecting Rtree>=0.9
  Downloading Rtree-1.0.0-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.0 MB)
     |████████████████████████████████| 1.0 MB 8.6 MB/s
Requirement already satisfied: pandas>=1.3 in /usr/local/lib/python3.7/dist-packages (from osmnx) (1.3.5)
Requirement already satisfied: numpy>=1.21 in /usr/local/lib/python3.7/dist-packages (from osmnx) (1.21.6)
Collecting geopandas>=0.10
  Downloading geopandas-0.10.2-py2.py3-none-any.whl (1.0 MB)
     |████████████████████████████████| 1.0 MB 57.4 MB/s
Collecting requests>=2.26
  Downloading requests-2.28.1-py3-none-any.whl (62 kB)
     |████████████████████████████████| 62 kB 1.5 MB/s
Collecting pyproj>=3.2
  Downloading pyproj-3.2.1-cp37-cp37m-manylinux2010_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 53.1 MB/s
Requirement already satisfied: networkx>=2.6 in /usr/local/lib/python3.7/dist-packages (from osmnx) (2.6.3)
Collecting matplotlib>=3.4
  Downloading matplotlib-3.5.2-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.whl (11.2 MB)
     |████████████████████████████████| 11.2 MB 31.4 MB/s
Collecting fiona>=1.8
  Downloading Fiona-1.8.21-cp37-cp37m-manylinux2014_x86_64.whl (16.7 MB)
     |████████████████████████████████| 16.7 MB 329 kB/s
Collecting cligj>=0.5
  Downloading cligj-0.7.2-py3-none-any.whl (7.1 kB)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas>=0.10->osmnx) (7.1.2)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas>=0.10->osmnx) (21.4.0)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas>=0.10->osmnx) (1.15.0)
Collecting click-plugins>=1.0
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas>=0.10->osmnx) (2022.6.15)
Collecting munch
  Downloading munch-2.5.0-py2.py3-none-any.whl (10 kB)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas>=0.10->osmnx) (57.4.0)
Requirement already satisfied: pyparsing>=2.2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.4->osmnx) (3.0.9)
Collecting fonttools>=4.22.0
  Downloading fonttools-4.34.4-py3-none-any.whl (944 kB)
     |████████████████████████████████| 944 kB 50.0 MB/s
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.4->osmnx) (21.3)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.4->osmnx) (7.1.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.4->osmnx) (0.11.0)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.4->osmnx) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.4->osmnx) (1.4.4)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib>=3.4->osmnx) (4.1.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.3->osmnx) (2022.1)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->osmnx) (2.1.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->osmnx) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->osmnx) (1.24.3)
Installing collected packages: munch, cligj, click-plugins, pyproj, fonttools, fiona, Rtree, requests, matplotlib, geopandas, osmnx
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
  Attempting uninstall: matplotlib
    Found existing installation: matplotlib 3.2.2
    Uninstalling matplotlib-3.2.2:
      Successfully uninstalled matplotlib-3.2.2
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires requests~=2.23.0, but you have requests 2.28.1 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
albumentations 0.1.12 requires imgaug<0.2.7,>=0.2.5, but you have imgaug 0.2.9 which is incompatible.
Successfully installed Rtree-1.0.0 click-plugins-1.1.1 cligj-0.7.2 fiona-1.8.21 fonttools-4.34.4 geopandas-0.10.2 matplotlib-3.5.2 munch-2.5.0 osmnx-1.1.2 pyproj-3.2.1 requests-2.28.1

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
ERROR: Could not find a version that satisfies the requirement shapely.constructive (from versions: none)
ERROR: No matching distribution found for shapely.constructive

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
workdir = '/content/drive/MyDrive/Colab Notebooks/Hazus Data/' # for Tina
# workdir = '/content/drive/MyDrive/Hazus Data/'                 # for Adam

Mounted at /content/drive

In [ ]:
def read_tables(path,state):
  df = pd.read_csv(path,sep =',')
  df['State'] = state
  cols = list(df)
  cols = [cols[-1]] + cols[:-1]
  cols = df[cols]
  return cols

In [ ]:
state = 'NY'
path_NY = f'{workdir}Raw_Data/{state}/NY_hzBldgCountOccupB.csv'
NY_hzBldgCountOccupB = read_tables(path_NY,state)

In [ ]:
table = NY_hzBldgCountOccupB.copy()

In [ ]:
path = f'{workdir}Raw_Data/{state}/NY_hzSqFootageOccupB.csv'
NY_hzSqFootageOccupB = pd.read_csv(path)

In [ ]:
path = f'{workdir}Raw_Data/{state}/NY_hzDemographicsB.csv'
NY_hzDemographicsB = pd.read_csv(path)

In [ ]:
path = f'{workdir}Raw_Data/{state}/NY_flNightVehicleInv.csv'
NY_flNightVehicleInv = pd.read_csv(path)

In [ ]:
path = f'{workdir}Raw_Data/{state}/NY_flDayVehicleInv.csv'
NY_flDayVehicleInv = pd.read_csv(path)

In [ ]:
path = f'{workdir}Raw_Data/{state}/NY_hzExposureOccupB.csv'
NY_ExposureOccupB = pd.read_csv(path)

In [ ]:
path = f'{workdir}Raw_Data/{state}/NY_hzExposureContentOccupB.csv'
NY_ExposureContentOccupB = pd.read_csv(path)

In [ ]:
path = f'{workdir}Raw_Data/{state}/NY_hzCensusBlock_TIGER.csv'
NY_CensusBlock_TIGER = pd.read_csv(path)

In [ ]:
path = f'{workdir}Raw_Data/{state}/NY_huCensusBlock.csv'
NY_huCensusBlock = pd.read_csv(path)

In [ ]:
path = f'{workdir}Raw_Data/{state}/NY_huTreeParametersB.csv'
NY_huTreeParametersB = pd.read_csv(path)

In [ ]:
US_FIPS = pd.read_csv(f'{workdir}US_FIPS.csv')
NY_FIPS = US_FIPS.loc[US_FIPS["state"] == "NY"]

In [ ]:
NY_FIPS

       fips                name state
1862  36001       Albany County    NY
1863  36003     Allegany County    NY
1864  36005        Bronx County    NY
1865  36007       Broome County    NY
1866  36009  Cattaraugus County    NY
...     ...                 ...   ...
1919  36115   Washington County    NY
1920  36117        Wayne County    NY
1921  36119  Westchester County    NY
1922  36121      Wyoming County    NY
1923  36123        Yates County    NY

[62 rows x 3 columns]

In [ ]:
def find_code(name):
  row = US_FIPS.loc[US_FIPS["name"].str.contains(name)]
  row = row["fips"].values[0]
  return row

In [ ]:
# for i in NY_FIPS["fips"]:
#   row = NY_FIPS.loc[NY_FIPS["fips"] == i].values[0]
#   code = row[0]
#   name = row[1]
#   table["County Code"] = NY_hzBldgCountOccupB["CensusBlock"].astype(str).str[:5].astype(int)
#   table["CensusBlock"].astype(int)
#   table = table.loc[table['County Code'] == code]
#   NY_sum = NY_hzSqFootageOccupB.merge(table, how = "inner", on = "CensusBlock")
#   NY_sum = NY_sum.merge(NY_flNightVehicleInv, how = "inner", on = "CensusBlock")
#   NY_sum = NY_sum.merge(NY_flDayVehicleInv, how = "inner", on = "CensusBlock")
#   NY_sum = NY_sum.merge(NY_ExposureOccupB, how = "inner", on = "CensusBlock")
#   NY_sum = NY_sum.merge(NY_ExposureContentOccupB, how = "inner", on = "CensusBlock")
#   NY_sum = NY_sum.merge(NY_huTreeParametersB, how = "inner", on = "CensusBlock")
#   NY_sum = NY_sum.merge(NY_huTerrainB, how = "inner", on = "CensusBlock")
#   NY_sum = NY_sum.merge(NY_hzDemographicsB,how = "inner", on = "CensusBlock")
#   table = NY_hzBldgCountOccupB.copy()
#   NY_sum.to_csv(f'{workdir}{code}_{name}_sum.csv')

In [ ]:
# name = 'Albany'
# code = find_code(name)
# county_table = pd.read_csv(f'{workdir}Hazus_NY_CB/{code}_{name} County_sum.csv').drop(columns = "Unnamed: 0")
# county_table

In [ ]:
# create a copy (just to make sure I do not mess with the original file; this is not necessary when you apply the method)
NY_hzBldgCountOccupB_CB = NY_hzBldgCountOccupB.copy()

# set CensusBlock to int64
NY_hzBldgCountOccupB_CB["County Code"] = NY_hzBldgCountOccupB_CB["CensusBlock"].astype(str).str[:5].astype(int)
NY_hzBldgCountOccupB_CB['CensusBlock'] = NY_hzBldgCountOccupB_CB['CensusBlock'].astype(np.int64)

# set index to CensusBlock
NY_hzBldgCountOccupB_CB.set_index('CensusBlock', inplace=True)

# Remove ObjectID
NY_hzBldgCountOccupB_CB.drop('OBJECTID', axis=1, inplace=True)

# Remove the State column as it is redundant information that takes up a lot of space
NY_hzBldgCountOccupB_CB.drop('State', axis=1, inplace=True)

# 'I' (the last character of occupancy types) does not have additional information;
# it is just there to have unique names for these columns when joined with columns from other tables. Let's remove it.
cols = [col[:-1] if col.endswith('I') else col for col in NY_hzBldgCountOccupB_CB.columns]
NY_hzBldgCountOccupB_CB.columns = cols

# Now create a MultiIndex Header
MI = pd.MultiIndex.from_product([['BuildingCount'],NY_hzBldgCountOccupB_CB.columns], names=['group','feature'])
NY_hzBldgCountOccupB_CB.columns = MI

# BuildingCount table DONE

# create a copy of the next table (again, just to keep the example clean)
NY_hzSqFootageOccupB_CB = NY_hzSqFootageOccupB.copy()

# same thing with the CensusBlock column going to index, ObjectID removed
# perhaps you could add some of these things - and remove the State column in the read_tables() method
NY_hzSqFootageOccupB_CB['CensusBlock'] = NY_hzSqFootageOccupB_CB['CensusBlock'].astype(np.int64)
NY_hzSqFootageOccupB_CB.set_index('CensusBlock', inplace=True)
NY_hzSqFootageOccupB_CB.drop('OBJECTID', axis=1, inplace=True)

# now remove the 'F' from the column names
cols = [col[:-1] if col.endswith('F') else col for col in NY_hzSqFootageOccupB_CB.columns]
NY_hzSqFootageOccupB_CB.columns = cols

# It also doesn't make much sense to store the values in "Thousand sq. ft", I suggest storing them in "sq. ft" units
# Note that floating point numbers take the same amount of space regardless of the size of the actual number
# So, we multiply everything in this table by 1000
NY_hzSqFootageOccupB_CB *= 1000

# and create a MultiIndex header
MI = pd.MultiIndex.from_product([['TotalSquareFootage'],NY_hzSqFootageOccupB_CB.columns], names=['group','feature'])
NY_hzSqFootageOccupB_CB.columns = MI

# TotalSquareFootage table DONE

# I'll do one more for the sake of the example
NY_flNightVehicleInv_CB = NY_flNightVehicleInv.copy()

# same preparation steps as before
NY_flNightVehicleInv_CB['CensusBlock'] = NY_flNightVehicleInv_CB['CensusBlock'].astype(np.int64)
NY_flNightVehicleInv_CB.set_index('CensusBlock', inplace=True)
NY_flNightVehicleInv_CB.drop('OBJECTID', axis=1, inplace=True)

# Column names are okay here, I suggest keeping them as-is

# Multiply exposure values with 1000 to convert "Thousand $" units with "$"
# See the CDMS Data dictionary for the units of each column
cols = []
for col in NY_flNightVehicleInv_CB.columns:
  if col.startswith('TVal'):
    cols.append(col)
cols.append('TotalExp')
NY_flNightVehicleInv_CB[cols] *= 1000

# Add the MultiIndex header
MI = pd.MultiIndex.from_product([['VehiclesNight'],NY_flNightVehicleInv_CB.columns], names=['group','feature'])
NY_flNightVehicleInv_CB.columns = MI

# VehiclesNight table DONE

# Here you'll need to prepare the other tables in similar fashion

# VehiclesDay / NY_flDayVehicleInv
# same idea as the night vehicles

NY_flDayVehicleInv_CB = NY_flDayVehicleInv.copy()
NY_flDayVehicleInv_CB['CensusBlock'] = NY_flDayVehicleInv_CB['CensusBlock'].astype(np.int64)
NY_flDayVehicleInv_CB.set_index('CensusBlock', inplace=True)
NY_flDayVehicleInv_CB.drop('OBJECTID', axis=1, inplace=True)

cols = []
for col in NY_flDayVehicleInv_CB.columns:
  if col.startswith('TVal'):
    cols.append(col)
cols.append('TotalExp')
NY_flDayVehicleInv_CB[cols] *= 1000

MI = pd.MultiIndex.from_product([['VehiclesDay'],NY_flDayVehicleInv_CB.columns], names=['group','feature'])
NY_flDayVehicleInv_CB.columns = MI

# VehiclesDay table DONE

# ReplacementValue / NY_ExposureOccupB
# Values are in "Thousand $" and "I" needs to be removed from occupancy type header labels
# Very similar to the square footage table

NY_ExposureOccupB_CB = NY_ExposureOccupB.copy()
NY_ExposureOccupB_CB['CensusBlock'] = NY_ExposureOccupB_CB['CensusBlock'].astype(np.int64)
NY_ExposureOccupB_CB.set_index('CensusBlock', inplace=True)
NY_ExposureOccupB_CB.drop('OBJECTID', axis=1, inplace=True)

cols = [col[:-1] if col.endswith('I') else col for col in NY_ExposureOccupB_CB.columns]
NY_ExposureOccupB_CB.columns = cols
NY_ExposureOccupB_CB *= 1000

MI = pd.MultiIndex.from_product([['ReplacementValue'],NY_ExposureOccupB_CB.columns], names=['group','feature'])
NY_ExposureOccupB_CB.columns = MI

# ContentValue / NY_ExposureContentOccupB
# Same treatment as the replacement value

NY_ExposureContentOccupB_CB = NY_ExposureContentOccupB.copy()
NY_ExposureContentOccupB_CB['CensusBlock'] = NY_ExposureContentOccupB_CB['CensusBlock'].astype(np.int64)
NY_ExposureContentOccupB_CB.set_index('CensusBlock', inplace=True)
NY_ExposureContentOccupB_CB.drop('OBJECTID', axis=1, inplace=True)

cols = [col[:-1] if col.endswith('I') else col for col in NY_ExposureContentOccupB_CB.columns]
NY_ExposureContentOccupB_CB.columns = cols
NY_ExposureContentOccupB_CB *= 1000

MI = pd.MultiIndex.from_product([['ContentValue'],NY_ExposureContentOccupB_CB.columns], names=['group','feature'])
NY_ExposureContentOccupB_CB.columns = MI

# Demographics / NY_hzDemographicsB
# I would not change the header labels and there is nothing to convert, so this is a simple one

NY_hzDemographicsB_CB = NY_hzDemographicsB.copy()
NY_hzDemographicsB_CB['CensusBlock'] = NY_hzDemographicsB_CB['CensusBlock'].astype(np.int64)
NY_hzDemographicsB_CB.set_index('CensusBlock', inplace=True)
NY_hzDemographicsB_CB.drop('OBJECTID', axis=1, inplace=True)
MI = pd.MultiIndex.from_product([['Demographics'],NY_hzDemographicsB_CB.columns], names=['group','feature'])
NY_hzDemographicsB_CB.columns = MI

# Tiger/NY_CensusBlock_TIGER
NY_CensusBlock_TIGER_CB = NY_CensusBlock_TIGER.copy()
NY_CensusBlock_TIGER_CB['CensusBlock'] = NY_CensusBlock_TIGER_CB['CensusBlock'].astype(np.int64)
NY_CensusBlock_TIGER_CB.set_index('CensusBlock', inplace=True)
NY_CensusBlock_TIGER_CB.drop(['OBJECTID','Tract', 'BlockArea','CenLat','CenLongit','IncomeRatio'],axis=1, inplace=True)
NY_CensusBlock_TIGER_CB.drop('Shape', axis=1, inplace=True)
for cols in NY_CensusBlock_TIGER_CB.iloc[:,2:]:
    NY_CensusBlock_TIGER_CB[cols] = NY_CensusBlock_TIGER_CB[cols].astype(float)*0.01

MI = pd.MultiIndex.from_product([['TIGERCensusBlock'],NY_CensusBlock_TIGER_CB.columns], names=['group','feature'])
NY_CensusBlock_TIGER_CB.columns = MI


# TreeParameter Table
NY_huTreeParametersB_CB = NY_huTreeParametersB.copy()
NY_huTreeParametersB_CB['CensusBlock'] = NY_huTreeParametersB_CB['CensusBlock'].astype(np.int64)
NY_huTreeParametersB_CB.set_index('CensusBlock', inplace=True)
NY_huTreeParametersB_CB.drop('OBJECTID',axis=1, inplace=True)
for cols in NY_huTreeParametersB_CB.loc[:,'TreeHeightLess40':'TreeHeightGreater60']:
    NY_huTreeParametersB_CB[cols] = NY_huTreeParametersB_CB[cols].astype(float)*0.01

MI = pd.MultiIndex.from_product([['TreeParameter'],NY_huTreeParametersB_CB.columns], names=['group','feature'])
NY_huTreeParametersB_CB.columns = MI


# Hurricane Census Block Table
NY_huCensusBlock_CB = NY_huCensusBlock.copy()
NY_huCensusBlock_CB['CensusBlock'] = NY_huCensusBlock_CB['CensusBlock'].astype(np.int64)
NY_huCensusBlock_CB.set_index('CensusBlock', inplace=True)
NY_huCensusBlock_CB.drop('OBJECTID',axis=1, inplace=True)

MI = pd.MultiIndex.from_product([['Hurricane'],NY_huCensusBlock_CB.columns], names=['group','feature'])
NY_huCensusBlock_CB.columns = MI

In [ ]:
# And in the end, just concatenate everything
SummaryTable = pd.concat(
    [NY_hzBldgCountOccupB_CB,
     NY_hzSqFootageOccupB_CB,
     NY_flNightVehicleInv_CB,
     NY_flDayVehicleInv_CB,
     NY_ExposureOccupB_CB,
     NY_ExposureContentOccupB_CB,
     NY_hzDemographicsB_CB,
     NY_CensusBlock_TIGER_CB,
     NY_huTreeParametersB_CB,
     NY_huCensusBlock_CB],
     axis=1)

# save the file using the naming convention you had before, but do not add _sum in the end
# all of our talbes are going to be sums, so that does not really add new information for the user

SummaryTable

group           BuildingCount                                                \
feature                  RES1 RES2 RES3A RES3B RES3C RES3D RES3E RES3F RES4
CensusBlock
360010001001000           0.0  0.0   0.0   0.0   0.0   0.0   0.0   0.0  0.0
360010001001001           0.0  0.0   0.0   0.0   0.0   0.0   0.0   0.0  0.0
360010001001002           0.0  0.0   0.0   0.0   0.0   0.0   0.0   0.0  0.0
360010001001003           0.0  0.0   0.0   0.0   0.0   0.0   0.0   0.0  0.0
360010001001004           0.0  0.0   0.0   0.0   0.0   0.0   0.0   0.0  0.0
...                       ...  ...   ...   ...   ...   ...   ...   ...  ...
361231505004022           2.0  0.0   0.0   0.0   0.0   0.0   0.0   0.0  0.0
361231505004023           0.0  0.0   0.0   0.0   0.0   0.0   0.0   0.0  0.0
361231505004024           0.0  0.0   0.0   0.0   0.0   0.0   0.0   0.0  0.0
361231505004025           0.0  0.0   0.0   0.0   0.0   0.0   0.0   0.0  0.0
361231505004026           0.0  0.0   0.0   0.0   0.0   0.0   0.0   0.0  0.0

group                 ... TreeParameter                                    \
feature         RES5  ...  StemsPerAcre TreeHeightLess40 TreeHeight40To60
CensusBlock           ...
360010001001000  0.0  ...             9             0.12             0.55
360010001001001  0.0  ...            92             0.12             0.55
360010001001002  0.0  ...            25             0.12             0.55
360010001001003  0.0  ...            19             0.12             0.55
360010001001004  0.0  ...            30             0.12             0.55
...              ...  ...           ...              ...              ...
361231505004022  0.0  ...             4             0.03             0.58
361231505004023  0.0  ...            17             0.03             0.58
361231505004024  0.0  ...             0             0.03             0.58
361231505004025  0.0  ...             0             0.03             0.58
361231505004026  0.0  ...             0             0.03             0.58

group                                                            Hurricane  \
feature         TreeHeightGreater60 TreeCollectionFactor  huBldgSchemeName
CensusBlock
360010001001000                0.33              0.17682  Northeast_Inland
360010001001001                0.33              0.08318  Northeast_Inland
360010001001002                0.33              1.00000  Northeast_Inland
360010001001003                0.33              0.48819  Northeast_Inland
360010001001004                0.33              0.10012  Northeast_Inland
...                             ...                  ...               ...
361231505004022                0.39              0.37937  Northeast_Inland
361231505004023                0.39              0.82660  Northeast_Inland
361231505004024                0.39              0.51904  Northeast_Inland
361231505004025                0.39              0.73768  Northeast_Inland
361231505004026                0.39              0.47352  Northeast_Inland

group
feature         huOccMapSchemeName DistToCoast SURFACEROUGHNESS WindGridIndex
CensusBlock
360010001001000   Northeast_Inland  166.300003            0.512             1
360010001001001   Northeast_Inland  166.300003            0.496             1
360010001001002   Northeast_Inland  166.300003            0.506             1
360010001001003   Northeast_Inland  166.300003            0.499             1
360010001001004   Northeast_Inland  166.300003            0.638             1
...                            ...         ...              ...           ...
361231505004022   Northeast_Inland  300.000000            0.295          4901
361231505004023   Northeast_Inland  300.000000            0.261          4901
361231505004024   Northeast_Inland  300.000000            0.261          4901
361231505004025   Northeast_Inland  300.000000            0.247          4901
361231505004026   Northeast_Inland  300.000000            0.226          4901

[348217 rows x 243 columns]

In [ ]:
for i in NY_FIPS["fips"]:
  row = NY_FIPS.loc[NY_FIPS["fips"] == i].values[0]
  code = row[0]
  name = row[1]
  table = SummaryTable.copy()
  NY_sum = table.loc[table[('BuildingCount','County Code')] == code]
  table = SummaryTable.copy()
  NY_sum.to_csv(f'{workdir}Processed_Data/NY/NY_{code}_{name}_sum.csv')

In [ ]:
for cols in SummaryTable.columns:
  print(cols)

('BuildingCount', 'RES1')
('BuildingCount', 'RES2')
('BuildingCount', 'RES3A')
('BuildingCount', 'RES3B')
('BuildingCount', 'RES3C')
('BuildingCount', 'RES3D')
('BuildingCount', 'RES3E')
('BuildingCount', 'RES3F')
('BuildingCount', 'RES4')
('BuildingCount', 'RES5')
('BuildingCount', 'RES6')
('BuildingCount', 'COM1')
('BuildingCount', 'COM2')
('BuildingCount', 'COM3')
('BuildingCount', 'COM4')
('BuildingCount', 'COM5')
('BuildingCount', 'COM6')
('BuildingCount', 'COM7')
('BuildingCount', 'COM8')
('BuildingCount', 'COM9')
('BuildingCount', 'COM10')
('BuildingCount', 'IND1')
('BuildingCount', 'IND2')
('BuildingCount', 'IND3')
('BuildingCount', 'IND4')
('BuildingCount', 'IND5')
('BuildingCount', 'IND6')
('BuildingCount', 'AGR1')
('BuildingCount', 'REL1')
('BuildingCount', 'GOV1')
('BuildingCount', 'GOV2')
('BuildingCount', 'EDU1')
('BuildingCount', 'EDU2')
('BuildingCount', 'County Code')
('TotalSquareFootage', 'RES1')
('TotalSquareFootage', 'RES2')
('TotalSquareFootage', 'RES3A')
('TotalSquareFootage', 'RES3B')
('TotalSquareFootage', 'RES3C')
('TotalSquareFootage', 'RES3D')
('TotalSquareFootage', 'RES3E')
('TotalSquareFootage', 'RES3F')
('TotalSquareFootage', 'RES4')
('TotalSquareFootage', 'RES5')
('TotalSquareFootage', 'RES6')
('TotalSquareFootage', 'COM1')
('TotalSquareFootage', 'COM2')
('TotalSquareFootage', 'COM3')
('TotalSquareFootage', 'COM4')
('TotalSquareFootage', 'COM5')
('TotalSquareFootage', 'COM6')
('TotalSquareFootage', 'COM7')
('TotalSquareFootage', 'COM8')
('TotalSquareFootage', 'COM9')
('TotalSquareFootage', 'COM10')
('TotalSquareFootage', 'IND1')
('TotalSquareFootage', 'IND2')
('TotalSquareFootage', 'IND3')
('TotalSquareFootage', 'IND4')
('TotalSquareFootage', 'IND5')
('TotalSquareFootage', 'IND6')
('TotalSquareFootage', 'AGR1')
('TotalSquareFootage', 'REL1')
('TotalSquareFootage', 'GOV1')
('TotalSquareFootage', 'GOV2')
('TotalSquareFootage', 'EDU1')
('TotalSquareFootage', 'EDU2')
('VehiclesNight', 'TotalVehicle')
('VehiclesNight', 'Cars')
('VehiclesNight', 'LightTrucks')
('VehiclesNight', 'HeavyTrucks')
('VehiclesNight', 'TotalExp')
('VehiclesNight', 'TValNewCars')
('VehiclesNight', 'TValUsedCars')
('VehiclesNight', 'TValNewLightTrucks')
('VehiclesNight', 'TValUsedLightTrucks')
('VehiclesNight', 'TValNewHeavyTrucks')
('VehiclesNight', 'TValUsedHeavyTrucks')
('VehiclesDay', 'TotalVehicle')
('VehiclesDay', 'Cars')
('VehiclesDay', 'LightTrucks')
('VehiclesDay', 'HeavyTrucks')
('VehiclesDay', 'TotalExp')
('VehiclesDay', 'TValNewCars')
('VehiclesDay', 'TValUsedCars')
('VehiclesDay', 'TValNewLightTrucks')
('VehiclesDay', 'TValUsedLightTrucks')
('VehiclesDay', 'TValNewHeavyTrucks')
('VehiclesDay', 'TValUsedHeavyTrucks')
('ReplacementValue', 'RES1')
('ReplacementValue', 'RES2')
('ReplacementValue', 'RES3A')
('ReplacementValue', 'RES3B')
('ReplacementValue', 'RES3C')
('ReplacementValue', 'RES3D')
('ReplacementValue', 'RES3E')
('ReplacementValue', 'RES3F')
('ReplacementValue', 'RES4')
('ReplacementValue', 'RES5')
('ReplacementValue', 'RES6')
('ReplacementValue', 'COM1')
('ReplacementValue', 'COM2')
('ReplacementValue', 'COM3')
('ReplacementValue', 'COM4')
('ReplacementValue', 'COM5')
('ReplacementValue', 'COM6')
('ReplacementValue', 'COM7')
('ReplacementValue', 'COM8')
('ReplacementValue', 'COM9')
('ReplacementValue', 'COM10')
('ReplacementValue', 'IND1')
('ReplacementValue', 'IND2')
('ReplacementValue', 'IND3')
('ReplacementValue', 'IND4')
('ReplacementValue', 'IND5')
('ReplacementValue', 'IND6')
('ReplacementValue', 'AGR1')
('ReplacementValue', 'REL1')
('ReplacementValue', 'GOV1')
('ReplacementValue', 'GOV2')
('ReplacementValue', 'EDU1')
('ReplacementValue', 'EDU2')
('ContentValue', 'RES1')
('ContentValue', 'RES2')
('ContentValue', 'RES3A')
('ContentValue', 'RES3B')
('ContentValue', 'RES3C')
('ContentValue', 'RES3D')
('ContentValue', 'RES3E')
('ContentValue', 'RES3F')
('ContentValue', 'RES4')
('ContentValue', 'RES5')
('ContentValue', 'RES6')
('ContentValue', 'COM1')
('ContentValue', 'COM2')
('ContentValue', 'COM3')
('ContentValue', 'COM4')
('ContentValue', 'COM5')
('ContentValue', 'COM6')
('ContentValue', 'COM7')
('ContentValue', 'COM8')
('ContentValue', 'COM9')
('ContentValue', 'COM10')
('ContentValue', 'IND1')
('ContentValue', 'IND2')
('ContentValue', 'IND3')
('ContentValue', 'IND4')
('ContentValue', 'IND5')
('ContentValue', 'IND6')
('ContentValue', 'AGR1')
('ContentValue', 'REL1')
('ContentValue', 'GOV1')
('ContentValue', 'GOV2')
('ContentValue', 'EDU1')
('ContentValue', 'EDU2')
('Demographics', 'Population')
('Demographics', 'Households')
('Demographics', 'GroupQuarters')
('Demographics', 'MaleLess16')
('Demographics', 'Male16to65')
('Demographics', 'MaleOver65')
('Demographics', 'FemaleLess16')
('Demographics', 'Female16to65')
('Demographics', 'FemaleOver65')
('Demographics', 'MalePopulation')
('Demographics', 'FemalePopulation')
('Demographics', 'White')
('Demographics', 'Black')
('Demographics', 'NativeAmerican')
('Demographics', 'Asian')
('Demographics', 'Hispanic')
('Demographics', 'PacifiIslander')
('Demographics', 'OtherRaceOnly')
('Demographics', 'IncLess10')
('Demographics', 'Inc10to20')
('Demographics', 'Inc20to30')
('Demographics', 'Inc30to40')
('Demographics', 'Inc40to50')
('Demographics', 'Inc50to60')
('Demographics', 'Inc60to75')
('Demographics', 'Inc75to100')
('Demographics', 'IncOver100')
('Demographics', 'ResidDay')
('Demographics', 'ResidNight')
('Demographics', 'Hotel')
('Demographics', 'Visitor')
('Demographics', 'WorkingCom')
('Demographics', 'WorkingInd')
('Demographics', 'Commuting5PM')
('Demographics', 'OwnerSingleUnits')
('Demographics', 'OwnerMultUnits')
('Demographics', 'OwnerMultStructs')
('Demographics', 'OnwerMHs')
('Demographics', 'RenterSingleUnits')
('Demographics', 'RenterMultUnits')
('Demographics', 'RenterMultStructs')
('Demographics', 'RenterMHs')
('Demographics', 'VacantSingleUnits')
('Demographics', 'VacantMultUnits')
('Demographics', 'VacantMultStructs')
('Demographics', 'VacantMHs')
('Demographics', 'BuiltBefore40')
('Demographics', 'Built40to49')
('Demographics', 'Built50to59')
('Demographics', 'Built60to69')
('Demographics', 'Built70to79')
('Demographics', 'Built80to89')
('Demographics', 'Built90to98')
('Demographics', 'BuiltAfter98')
('Demographics', 'MedianYearBuilt')
('Demographics', 'AvgRent')
('Demographics', 'AvgValue')
('Demographics', 'SchoolEnrollmentKto12')
('Demographics', 'SchoolEnrollmentCollege')
('TIGERCensusBlock', 'BldgSchemesId')
('TIGERCensusBlock', 'BlockType')
('TIGERCensusBlock', 'PctWithBasemnt')
('TIGERCensusBlock', 'Pct1StoryRes1')
('TIGERCensusBlock', 'Pct2StoryRes1')
('TIGERCensusBlock', 'Pct3StoryRes1')
('TIGERCensusBlock', 'PctSplitLvlRes1')
('TIGERCensusBlock', 'Pct1to2StryRes3')
('TIGERCensusBlock', 'Pct3to4StryRes3')
('TIGERCensusBlock', 'Pct5StryplusRes3')
('TIGERCensusBlock', 'PctLowRiseOther')
('TIGERCensusBlock', 'PctMidRiseOther')
('TIGERCensusBlock', 'PctHighRiseOther')
('TIGERCensusBlock', 'Pct1CarGarage')
('TIGERCensusBlock', 'Pct2CarGarage')
('TIGERCensusBlock', 'Pct3CarGarage')
('TIGERCensusBlock', 'PctCarPort')
('TIGERCensusBlock', 'PctNoGarage')
('TreeParameter', 'PreDomTreeType')
('TreeParameter', 'StemsPerAcre')
('TreeParameter', 'TreeHeightLess40')
('TreeParameter', 'TreeHeight40To60')
('TreeParameter', 'TreeHeightGreater60')
('TreeParameter', 'TreeCollectionFactor')
('Hurricane', 'huBldgSchemeName')
('Hurricane', 'huOccMapSchemeName')
('Hurricane', 'DistToCoast')
('Hurricane', 'SURFACEROUGHNESS')
('Hurricane', 'WindGridIndex')